In [ ]:
pip install --upgrade pip

In [ ]:
!pip install seaborn

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Diwali Sales Data.csv", encoding = "unicode_escape")

In [ ]:
df.shape
(11251, 15)

In [ ]:
df.info()

In [ ]:
df.drop(["Status", 'unnamed1'], axis = 1, inplace = True)

-- Data Cleaning

In [ ]:
df.drop(["Status", 'unnamed1'], axis = 1, inplace = True)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
#drop null values
df.dropna(inplace = True)

In [ ]:
# initialise list of lists
data_test = [['madhav', 11],['Gopi', 15],['Keshav', ],['Lalita', 16]]

# Create panda dataframe using list

df_test = pd.DataFrame(data_test, columns = ['Name', 'Age'])
df_test

In [ ]:
df_test

In [ ]:
# Both are same thing
# df_test = df_test.dropna()
# df_test.dropna(inplace = True)
# inplace = True is basically used to save the changes

In [ ]:
# change data type
df['Amount'] = df['Amount'].astype('int')
# column names are always in square brackets
# to change data type .astype('required data type')

In [ ]:
df['Amount'].dtypes

In [ ]:
df.columns

In [ ]:
# rename column
df.rename(columns = {'Marital_Status':'Shaadi'})

In [ ]:
# describe()method returns description of the data in the dataframe(i.e. count,mean,std,etc)
df.describe()

In [ ]:
# use describe() for specific columns
df[['Age', 'Orders', 'Amount']].describe()

In [ ]:
# Exploratory Data Analysis

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(x = 'Gender', data = df)

for bar in ax.containers:
    ax.bar_label(bar)

In [ ]:
df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

In [ ]:
sales_gen = df.groupby(['Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
sns.barplot(x = 'Gender', y= 'Amount',data = sales_gen)

In [ ]:
# Age

In [ ]:
df.columns

In [ ]:
ax = sns.countplot(data =df, x='Age Group', hue = 'Gender')

for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
# Total Amount vs Age Group
sales_age = df.groupby(['Age Group'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)

sns.barplot(x = 'Age Group', y = 'Amount', data = sales_age)

In [ ]:
State

In [ ]:
# total number of orders from top 10 states

sales_state = df.groupby(['State'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(10)
plt.figure(figsize=(18,5))
sns.barplot(data = sales_state, x = 'State', y = 'Orders')

In [ ]:
# total amount/sales from top 10 states

sales_state = df.groupby(['State'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)
plt.figure(figsize=(18,5))
sns.barplot(data = sales_state, x = 'State', y = 'Amount')

In [ ]:
# Marital Status

In [ ]:
ax = sns.countplot(data = df, x='Marital_Status')

sns.set(rc={'figure.figsize':(7,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Marital_Status', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(10)
plt.figure(figsize=(6,5))
sns.barplot(data = sales_state, x = 'Marital_Status', y = 'Amount', hue ='Gender')

In [ ]:
# Occupation

In [ ]:
ax = sns.countplot(data = df, x='Occupation')

sns.set(rc={'figure.figsize':(40,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Occupation', 'Gender'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False)
plt.figure(figsize=(20,5))
sns.barplot(data = sales_state, x = 'Occupation', y = 'Amount')

In [ ]:
# Product Category

In [ ]:
ax = sns.countplot(data = df, x='Product_Category')

sns.set(rc={'figure.figsize':(15,5)})
for bars in ax.containers:
    ax.bar_label(bars)

In [ ]:
sales_state = df.groupby(['Product_Category'], as_index=False)['Amount'].sum().sort_values(by='Amount', ascending=False).head(15)
plt.figure(figsize=(30,5))
sns.barplot(data = sales_state, x = 'Product_Category', y = 'Amount')

In [ ]:
sales_state = df.groupby(['Product_ID'], as_index=False)['Orders'].sum().sort_values(by='Orders', ascending=False).head(15)
plt.figure(figsize=(20,5))
sns.barplot(data = sales_state, x = 'Product_ID', y = 'Orders')

In [ ]:
# Top 10 most sold products

fig1, ax1 = plt.subplots(figsize=(12,7))
df.groupby('Product_ID')['Orders'].sum().nlargest(10).sort_values(ascending=False).plot(kind='bar')

In [ ]:
# Conclusion:

In [ ]:
# Married Women age group 26-35 yrs from  UP, Maharashtra and Karnataka working in IT, healthcare and Aviation are more likely to buy  products from Food, Clothing and  Electronics category.